<main id="page-content">
        <div class="banner">
            <div class="container">
            </div>
        </div>
        <section class="container">
            <h1>Liên hệ</h1>
            <section class="contact">
                <section class="form-contact contact-left">
                    <p>Vui lòng nhập thông tin để liên hệ: </p>
                    <form action="contact_submit" method="post" accept-charset="utf-8">
                        <div class="contact-inf">
                            <label>Tên:</label>
                            <input type="text" name="ten" value="" placeholder="">
                        </div>
                        <div class="contact-inf">
                            <label>Email :</label>
                            <input type="email" name="email" value="" placeholder="">
                        </div>
                        <div class="contact-inf">
                            <label>Diện thoại :</label>
                            <input type="tel" name="" value="" placeholder="">
                        </div>
                        <div class="contact-inf">
                            <label>Nội dung :</label>
                            <textarea name=""></textarea>
                        </div>
                        <div class="contact-submit">
                            <input type="button" name="button" value="GƯỈ">
                        </div>
                    </form>
                </section>
                <section class="form-contact contact-right">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15335.226164075219!2d108.1536513!3d16.0755258!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x714561e9f3a7292c!2sDanang+University+of+Technology!5e0!3m2!1svi!2s!4v1480298943223" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                </section>
            </section>
        </section>
    </main>
    <footer>
        <div class="container">
            <div class="content-footer1">
                <p>2015 - Bản quyền thuộc về Thế giới đẹpJSC</p>
            </div>
            <div class="content-footer2">
                <p>Thiết kế bởi Kovo.vn</p>
            </div>
        </div>
    </footer>